@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600&family=Roboto:wght@300;400;500&display=swap');
@import 'normalize.css';
               
:root {
    --primary: #BC74A5;
    --primary1: #0E54AE;
    --color-black: #000000;
    --color-white: #fff;
    // config
    --default-layout-width: 1260px;
    --default-layout-header-height: 60px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Heebo', sans-serif !important;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

button,
input {
    border: none;
    outline: none;
}
a {
    text-decoration: none;
    color: var(--color-black);
}


.wrapper-menu{
    background-color: #fff !important;
    border: none !important;
    padding: 10px 0px !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    color: black !important;
    letter-spacing: 1px;
    padding: 0px !important;
}
.wrapper-menu .p-menuitem-link {
    padding: 1.75rem 2.25rem !important;
    border-radius: 0px !important;
}
