.contact {
    color: var(--primary);
}

.colorPrimary {
    color: var(--primary);
}

.colorPrimary1 {
    color: var(--primary1);
}

.sectionContact {
    width: var(--default-layout-width);
    margin: 0 auto;
    padding: 0 50px;
}

.denticare {
    color: var(--primary1);
}

.subcontact {
    padding: 0 50px;
}

.hr {
    width: 70px;
    border: none;
    height: 2px;
    background-color: var(--primary);
}

.workingHours {
    width: 450px;
    height: 500px;
    background-color: var(--primary1);
}

.button {
    background-color: white;
    color: var(--primary);
}

.buttonBig {
    width: 300px;
    height: 70px;
    font-size: 20px;
    font-style: normal;
    background-color: white;
    color: var(--primary);
}

.Specialized {
    margin-top: 200px;
    margin-left: 150px;
}

.infoDoctor {
    position: relative;
    margin-top: -150px;
    padding-bottom: 150px;
    width: var(--default-layout-width);
}

.bg-img {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.bookingContent {
    position: relative;
    width: 1200px;
    max-width: calc(100% - 60px);
}

.-translate-x-50 {
    transform: translateX(-50%);
}

.bg-primary2 {
    background-color: var(--primary1);
}

.bg-primary1 {
    background-color: var(--primary);
}

.-cs-bottom-25 {
    bottom: -420px;
}

.-cs-bottom-70px {
    bottom: -35%;
}

.cs-text-booking-banner {
    font-size: 20px;
}

.cs-w-booking {
    margin-left: -8.33%;
    max-width: calc(100%/12*6 + 8.333333%);
}

.h-800px {
    height: 900px;
}


.cs-box-dow{
    box-shadow: #1e1e1e 0px 39px 45px -50px;
}