.contact{
    color: var(--primary);
}
.denticare{
    color: var(--primary1);
}
.subcontact{
    padding: 0  50px;
}
.workingHours{
    width: 450px;
    height: 500px;
    background-color: var(--primary1);
    right: 50px;
    top: 60%;
}
.button{
    background-color: white;
    color: var(--primary);
}
.buttonBig{
    width: 300px;
    height: 70px;
    font-size: 20px;
    font-style: normal;
    background-color: white;
    color: var(--primary);
}