.contact{
    color: var(--primary);
}
.sectionContact{
    width: var(--default-layout-width);
    margin: 0 auto;
    padding: 0 50px;
}
.denticare{
    color: var(--primary1);
}
.subcontact{
    padding: 0  50px;
}
.hr{
    width: 70px;
    height: 3px;
    background-color: var(--primary) ;
}
.workingHours{
    width: 450px;
    height: 500px;
    background-color: var(--primary1);
    right: 50px;
    margin-top: 150px;
}
.button{
    background-color: white;
    color: var(--primary);
}
.buttonBig{
    width: 300px;
    height: 70px;
    font-size: 20px;
    font-style: normal;
    background-color: white;
    color: var(--primary);
}

.Specialized{
    margin-top: 200px;
    margin-left: 150px;
}
.infoDoctor{
    position: relative;
   margin-top: -150px;
}
.paddingBottom{
    margin-bottom: 70px;
}