.title{
    font-size: 24px;
    font-weight: 700;
    color: var(--primary1) ;
}
.hr{
    width: 70px;
    height: 3px;
    background-color: var(--primary) ;
}
.icon{
    color: var(--primary1);
    font-size: 20px;
    padding-right: 10px;
}