.cs-slick .slick-track{
    display: flex;
    column-gap: 70px;
}
.slick-prev:before {
  content: url(https://res.cloudinary.com/dbpw1enlu/image/upload/v1663902730/svgviewer-png-output_3_r4mtuf.png);
  cursor: pointer;
}
  
.slick-next:before {
  content: url(https://res.cloudinary.com/dbpw1enlu/image/upload/v1663902741/svgviewer-png-output_4_jcbhis.png);
  cursor: pointer;
}
.slick-next{
  position: absolute;
  right: -40px;
  top: 50%;
}
.slick-prev{
  position: absolute;
  left: -40px;
  top: 50%;
}
.hover-scale{
  transition: all 0.5s ease-out;
}
.hover-scale:hover{
  transform: scale(1.2);
  transition: all 0.5s ease-in;
}
.fb-slick1 .slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  list-style: none;
}
.ft-slick__dots--custom{
  width: 13px;
  height: 13px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  transition: all 0.3s ease;
}
.fb-slick1 .slick-dots .slick-active .ft-slick__dots--custom{
  background-color: var(--primary);
}