.wrapper-header {
    display: flex;
    flex-direction: column;
    width: 1260px;
    margin: 0 auto;
    padding: 0 2rem;
}

.wrapper-header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #a7a6a6;
}

.wrapper-main-logo img {
    width: 100%;
    height: 100%;
}

.wrapper-main-logo {
    width: 170px;
}

.wrapper-timeline {
    display: flex;
    column-gap: 20px;
}

.wrapper-timer-wroking {
    display: flex;
    // align-items: center;
    column-gap: 5px;
}

.timer-text1 {
    font-size: 14px;
}

.timer-text2 {
    font-size: 11px;
}

.close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 5px 5px;
    line-height: 20px;
    right: 0px;
    top: 0px;
    font-size: 24px;
    background: #ffffff;
}
.popup{
    background-color: transparent;
}