.top-30{
    top: 25%;
}
.z-999{
    z-index: 999;
}
.pointer{
    cursor: pointer;
}
.btn-booking{
    transition: all 0.3s ease-in-out;
    transform: translateX(83%);
}
.btn-booking.active{
    transition: all 0.3s ease-in;
    transform: translateX(0%);
}
.cs-text-booking{
    font-size: 13px;
}
.hover-btn:active{
    opacity: 0.9;
}
.cs-ip-booking input{
    font-size: 14px;
    padding: 7px 15px;
    border: none !important;
    border-radius: 0px !important;
}
.cs-ip-booking input:enabled:focus{
    box-shadow: none;
}
.cs-calendar-booking input{
    font-size: 17px !important;
    border-radius: unset;
    padding: 9px 17px;
    border-bottom: 1px solid #9e9e9e;
}
.cs-calendar-booking input:enabled:focus{
    border-bottom: 1px solid #9e9e9e !important;
}
.cs-calendar-booking input:enabled:hover{
    border-bottom: 1px solid #9e9e9e !important;
    box-shadow: none;
}